#mainNav .navbar-brand {
  font-size: 1.75em;
  transition: font-size 0.3s;
  color: #fff;
}

.bg-secondary {
  background-color: rgba(42, 62, 90, 1) !important;
}

.main-container {
  margin-top: 100px;
}
